h1 {
    color: brown;
    text-decoration:solid;
    text-decoration: underline;
}

li {
    color: black;
}

#mostfavourite{
    text-decoration: solid;
    font-weight: bold;
    color: aqua;
}

.favourite{
    color: aquamarine;
    font-weight: bolder;
}